<!DOCTYPE HTML>
<html>

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Singleton by WEHI5</title>
<link href="{{ request.static_url('singleton:static/css/default.css') }}" rel="stylesheet" type="text/css">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

<script src="{{ request.static_url('singleton:static/js/default.js') }}" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
</head>

<body>
<div id="top"></div>

<!-- Navigation Menu -->
<div id="nav-menu" class = "nav-menu">
	<ul>
		<li id="logo"><a href="{{ request.application_url + '/'}}"><img src ="{{ request.static_url('singleton:static/img/logo.png')}}" width="100%" height="auto"></a></li>
		<li class=""><a href="{{ request.application_url + '/'}}"><i class="fa fa-home" aria-hidden="true"></i>Home</a></li>
		<li class=""><a href="{{ request.application_url + '/features'}}"><i class="fa fa-star" aria-hidden="true"></i>Features</a></li>
		<li class=""><a href="{{ request.application_url + '/about'}}"><i class="fa fa-info" aria-hidden="true"></i>About</a></li>
		<li class=""><a href="{{ request.application_url + '/contact'}}"><i class="fa fa-envelope" aria-hidden="true"></i>Contact</a></li>
		<li class=""><a href="{{ request.application_url + '/logout'}}"><i class="fa fa-sign-out" aria-hidden="true"></i>Logout</a></li>
	</ul>
</div>
<!-- Navigation Menu END -->

<!-- Scroll to top -->
<div class = "to-top">
<button onclick="scrollToTop(1000);"><i class="fa fa-angle-up"></i></button>
</div>
<!-- Scroll to top END -->

<!--Content -->
<div id="content" class="container">

<!-- Flash messages -->
<div id="flash-messages">
  {% for message in request.session.pop_flash() %}
  <div id="flash-message"><h4 style="color: red">{{ message }}</h4></div>
  {% endfor %}
</div>

<!-- Dashboard Navigation -->
<div id="dashboard-nav">
<ul>
	<li class=""><a href="{{ request.application_url + '/dashboard'}}"><i class="fa fa-tachometer" aria-hidden="true"></i>Dashboard</a></li>
	<li class="active"><a href="{{ request.application_url + '/upload'}}"><i class="fa fa-upload" aria-hidden="true"></i>Upload Dataset</a></li>
	<li><a href="{{ request.application_url + '/new'}}"><i class="fa fa-plus" aria-hidden="true"></i>New Analysis</a></li>
</ul>
</div>
<!-- Dashboard Navigation END-->

<h2>Upload Dataset</h2>

<h3>Upload</h3>

<form action="/store_csv_file" accept=".csv, .hdf5" method="post" accept-charset="utf-8" enctype="multipart/form-data">
    Browse file: <br/>
		<input id="dataset" name="dataset" type="file" value="" accept=".csv, .hdf5"/>
        <br/>
		<span style="font-size:12pt; font-style: italic;">Accepted formats: CSV, HDF5 <br/>
		Please select only one file. </span><br/>

    <br/>
    Name: 
    <input id="name" name="name" type="text" placeholder="Enter dataset name" maxlength="255"/>
    <br/>
    Description: 
    <input id="desc" name="desc" type="text" placeholder="Enter short description of dataset" maxlength="2000"/>
    <br/>
    Make dataset public?
    <input id="public" name="public" type="radio" value="Yes"/>Yes
    <input id="public" name="public" type="radio" value="No" checked />No
    <br/>
    <input type="submit" value="submit"/>
		<br/><br/>
		<button><i class="fa fa-envelope-o"></i> Invite by email</button>  <button><i class="fa fa-share"></i> Share link</button>


</form>

<!-- Footer -->
<div id ="footer">
  <center><p>&copy; WEHI5 2016</p>
  <p><i>This is a project of Web Information Technologies of year 2016 at University of Melbourne.</i></p>
  <p>Affiliations: <img src="{{ request.static_url('singleton:static/img/wehi.png')}}" width="250px"><img src="{{ request.static_url('singleton:static/img/uom.png')}}" width="250px"></p>
  </center>
 </div>
<!-- Footer END -->

</body>
</html>
